<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cynetcore.bayoss.mappers.sellitem">
 	<!-- 아이템 등록 -->
 	<insert id="itemInsert">
 		insert into tbl_sell_item(sId, item_title, item_cost, item_start_date, item_end_date,item_mainimage,
 								item_content,item_amount,sell_store_name)
		values(#{sid},#{item_title},#{item_cost},#{item_start_date, jdbcType=DATE},#{item_end_date, jdbcType=DATE},
				#{item_mainimage, jdbcType=VARCHAR}, #{item_content},#{item_amount},#{sell_store_name})
 	</insert>
 	
 	
 	<!-- 아이템 정보 조회 -->
	<select id="itemInfo" resultType="SellerItemVo">
		select * from tbl_sell_item
		where ino = #{ino} 
	</select>
	
	<!-- 아이템 정보 업데이트 -->
	<update id="itemUpdate">
		update tbl_sell_item set
			item_title = #{item_title},
			item_cost = #{item_cost},
			item_start_date = #{item_start_date},
			item_end_date = #{item_end_date},
			item_mainimage = #{item_mainimage},
			item_content = #{item_content},
			item_amount = #{item_amount},			
			item_status = #{item_status}			
		where ino = #{ino}
	</update>
	
	<!-- 아이템 삭제 , 복구-->
	<update id="itemDelete">
		update tbl_sell_item set
			item_delete = #{item_delete}
		where ino = #{ino}
	</update>
 	
 	<!-- 셀러 아이템 리스트 조회 (수정중)-->
 	<select id="itemList" resultType="SellerItemVo">
 		<!-- select * from tbl_sell_item
 		where sId = #{sid} and item_delete = 'F'
 		order by ino desc -->
 		
 		select R1.* FROM
 			(SELECT * 
        	FROM tbl_sell_item
        	where sId = #{sid} and item_delete = 'F' <include refid="search3"></include> 
        	order by ino asc) R1
		LIMIT #{pagingDto.perPage, jdbcType=INTEGER} OFFSET #{pagingDto.startRow, jdbcType=INTEGER};
 		
 	</select>
 	
 	<!-- 셀러 아이템 리스트 조회 갯수-->
 	<select id="itemListcount" resultType="int">
 		select count(*) from tbl_sell_item
 		where sId = #{sid} and item_delete = 'F' <include refid="search3"></include>
 	</select>
 	
 	<!-- 셀러 아이템 숨김중/서비스중 조회 갯수-->
 	<select id="itemListcountTF" resultType="int">
 		select count(*) from tbl_sell_item
 		where sId = #{sid} and item_status = #{item_status}
 	</select>
 	
 	<!-- 셀러 전체 삭제포함 아이템 리스트 조회 -->
 	<select id="selleritemList" resultType="SellerItemVo">
 		select * from tbl_sell_item
 		where sId = #{sid}
 		order by ino desc
 		
 	</select>
 	
 	<!-- 전체 아이템 리스트 조회 갯수-->
 	<select id="itemListholecount" resultType="int">
 		select count(*) from tbl_sell_item
 		where item_delete = 'F'<include refid="search2"></include>
 	</select>
 	
 	<!-- 아이템 전체 리스트 조회 -->
 	<select id="itemListhole" resultType="SellerItemVo">
 		select R1.* FROM
 			(SELECT * 
        	FROM tbl_sell_item
        	<include refid="search"></include> 
        	order by ino asc) R1
		LIMIT #{perPage, jdbcType=INTEGER} OFFSET #{startRow, jdbcType=INTEGER};
 		
 	</select>
 	<sql id="search">
 		<if test="searchType != null and keyword != null">
 			<choose>
 				<when test='searchType == "p"'>
 					where item_title like CONCAT('%',#{keyword},'%')
 				</when>
 				<when test='searchType == "s"'>
 					where sell_store_name like CONCAT('%',#{keyword},'%')
 				</when>
 				<when test='searchType == "c"'>
 					where item_cost =  #{keyword}
 				</when>
 			</choose>
 		</if>
 	</sql>
 	<sql id="search2">
 		<if test="searchType != null and keyword != null">
 			<choose>
 				<when test='searchType == "p"'>
 					and item_title like CONCAT('%',#{keyword},'%')
 				</when>
 				<when test='searchType == "s"'>
 					and sell_store_name like CONCAT('%',#{keyword},'%')
 				</when>
 				<when test='searchType == "c"'>
 					and item_cost = #{keyword}
 				</when>
 			</choose>
 		</if>
 	</sql>
 	<sql id="search3">
 		<if test="pagingDto.searchType != null and pagingDto.keyword != null">
 			<choose>
 				<when test='pagingDto.searchType == "p"'>
 					and item_title like CONCAT('%',#{pagingDto.keyword},'%')
 				</when>
 				<when test='pagingDto.searchType == "s"'>
 					and sell_store_name like CONCAT('%',#{pagingDto.keyword},'%')
 				</when>
 				<when test='pagingDto.searchType == "c"'>
 					and item_cost = #{pagingDto.keyword}
 				</when>
 			</choose>
 		</if>
 	</sql>
 </mapper>